input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 90%;
  margin: auto;
}

.keyboard {
  align-self: center;
  text-align: center;
  width: 100%;
}

input {
  text-align: center;
  margin: auto auto 0.5rem auto;
  width: 90%;
  border: 1px solid gray;
  font-size: 1.5rem;
  /* border-radius: 20px; */
}

input:focus {
  border-radius: 20px;
}

.Character {
  text-align: center;
  font-size: 1.5em;
  white-space: pre;
  font-family: monospace;
}

.Character-current {
  padding: 0;
  background-color: #09d3ac;
}

.Character-out {
  padding: 0;
  color: silver;
}

.Character-in {
  padding: 0;
}